
<div class="container-login">
  <div style="margin: 50px 300px;">
    <div class="cards-login">
      <div class="h2">Create a new space trip</div>
        <div class="info-log">
          <%= simple_form_for [@trip] do |f| %>
            <%= f.input :planet, collection: @planets,placeholder: "Where is your trip?" %>
            <%= f.input :description, as: :text, placeholder: "Description of the trip here!" %>
            <%= f.input :launch_address, collection: @launch_address, placeholder: "Where will you launch?" %>
            <%= f.input :photo, as: :file %>
            <%= f.input :gravity, collection: @gravity, placeholder: "What is the gravity of your planet?" %>
            <%= f.input :exit, as: :boolean, placeholder: "Can you go outside the colony?" %>
            <%= f.input :price_per_night, as: :integer, placeholder: "What's the price per night?"%>
            <%= f.input :transport_price, as: :integer, placeholder: "What's the transport price?"%>
            <%= f.input :spaceship, collection: @spaceships, placeholder: "Which spaceship will transport the visitors?"%>
            <%= f.input :survival, collection_select: 0..100, input_html: { min: '0', max: '100' } %>
            <div class="center">
              <%= f.submit class:"btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
