<%= render "shared/search_bar" %>
<br>
<h2 class="container trip-on gras"> Trip on <%= @trip.planet %> - <%= @trip.survival %> % chance of survival</h2>
<p class= "container trip-on">Launch Adress: <a id="lien" href="#">14 rue Villa Gaudelet, Paris</a></p>
<div class="container">
  <div class="title">

    <a href=""></a>

  </div>
    <div class="box">
      <div class="cards">
        <div class="card-trip-show container">
          <% if @trip.photo.attached? == false %>
            <%= image_tag("https://images.theconversation.com/files/392339/original/file-20210329-17-1vm95zi.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop", class: "img-card") %>
            <% else %>
            <%= cl_image_tag @trip.photo.key, class: "img-card" %>
          <% end %>

            <div>
            <br>
              <li><h3 class="violet"><strong>Planet:</strong> <%= @trip.planet %></h3></li>
              <br>
              <li><p><strong class="violet">Gravity: </strong> <%= @trip.gravity%></p></li>
              <li><p><strong class="violet">Extra-vehicular activities: </strong><%= @trip.exit %></p></li>

              <li><p><strong class="violet">Spaceship:</strong> <%= @trip.spaceship %></p></li>
              <li><p><strong class="violet">Comment from agency: </strong></p></li>
              <li><p><strong class="violet"></strong>"<%= @trip.description%>"</p></li>
              <li><p><strong class="violet">Chance of survival: </strong> <%= @trip.survival %> %</p></li>
            </div>
          </div>
      </div>

      <div class="cards">
        <div class="card-show-booking">
          <div class="p-3 text-center">

          <h3 class="book"><span>Book your trip to </span> <%= @trip.planet %> now !</h3>
          <div id="jsaisplus"> <%= @trip.price_per_night %></div>

          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-8 text-center">

          <div class="form-container">
            <div class="flex-between">
              <div class="actions" data-controller="button" >
                <div class="price-per-person" >
                  <span id="per-night" data-button-target="price"> <%= @trip.price_per_night %></span> <span> $ per night</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <br>
      <div data-controller="form" id= "start">
      <%= simple_form_for [@trip, @booking], data:{action: "change->form#compute", form_target: 'form'}  do |f| %>
          <%= f.input :number_of_passengers, required: true, input_html: {data: {form_target: 'passengers' } } %>
          <%= f.input :start_date, as: :date, html5:true, required: true, prompt: "What's your start date", input_html: {data: {form_target: 'startDate' } }  %>
          <%= f.input :end_date, as: :date, html5:true, required: true, prompt: "What's your end date", input_html: {data: {form_target: 'endDate' } }   %>
      </div>
          <br>
          <%= f.submit class:"button-show" %>
          <br>
        <% end %>

        <br>

        <div class="d-flex justify-content-between">

            <div class="" id="nights" >
            <span id="per-night" class="surlign yolo" data-button-target="price">0 </span><span class="surlign"> nights x </span>
            <span id="counter2" class="surlign" data-count="1" data-button-target="count"> 1 </span><span class="surlign"> participants</span>
            </div>

            <div class="sub-total" id="total-price">
            <span data-count="0" data-button-target="countsub" class="subb" id="priice"> </span><span> $</span>
            </div>
        </div>

        <div id="jsaisplus2" class="transportt"><%= @trip.transport_price %></div>

        <div class="d-flex justify-content-between mt-3">
          <div class="" id="" data-controller="button">
            <span class="transport" id="surlign"></span><span class="surlign">Transport fee per passenger</span>
          </div>

          <div >
            <%= @trip.transport_price %> $
          </div>
        </div>

        <span class="ligne"> _____________________________________________________ </span>

        <div class="d-flex justify-content-between mt-3" id="toto">
          <div class="bold">Total</div>
          <div class="bold">
            <span class="transport" id="surlign"></span> $
          </div>
        </div>
          </div>
            </div>
          </div>
        </div>
        </div>
      </div>

    </div>
</div>
