<div class="container">
  <ul>
    <div class="title-index">
      <h3><b>Travel</h3></b>
    </div>

    <div class="grid-index">
      <% @bookings.each do |booking| %>
        <div class="card-index">

          <%= link_to booking_path(booking.id) do %>
              <% if booking.trip.photo.attached? == false %>
                <%= image_tag("https://images.theconversation.com/files/392339/original/file-20210329-17-1vm95zi.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop", class: "img-card") %>
                <% else %>
                <%= image_tag(cl_image_path trip.photo.key, height: 200, width: 430, class: "img-card") %>
              <% end %>
            <% end %>

          <div class="card-infos">
            <li><h3><%= booking.name %></h3></li>
            <li><p>Start date : <%= booking.start_date%></p></li>
            <li><p>End date : <%= booking.end_date %></p></li>
            <li><p>Price: <%= booking.price %>$</p></li>
          </div>
        </div>
      <% end %>

    </div>

    <div>
      <% @bookings.each do |booking| %>
        <% if policy(booking).destroy? %>
          <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }%>
        <% end %>
      <% end %>
    </div>

  </ul>


</div>
