<div class="container">
  <div class="title">
      <% if @booking.paid %>
        <h2 class="violet gras"> Trip on <%= @trip.planet %> - <%= currency(@booking.price) %></h2>
      <% else %>
        <h2 class="violet gras"> Confirm your trip on <%= @trip.planet %> - <%= currency(@booking.price) %></h2>
      <% end %>
  </div>
  <div class="box">
    <div class="cards pb-3">
      <div class="card-trip-show">
        <% if @trip.photo.attached? == false %>
          <%= image_tag("https://images.theconversation.com/files/392339/original/file-20210329-17-1vm95zi.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop", class: "img-card") %>
        <% else %>
          <%= cl_image_tag @trip.photo.key, class: "img-card" %>
        <% end %>

          <div>
          <br>
            <li><h3><strong>Planet:</strong> <%= @trip.planet %></h3></li>
            <br>
            <li class="padding"><p><strong>Gravity: </strong> <%= @trip.gravity%></p></li>
            <li class="padding"><p><strong>Extra-vehicular activities: </strong><%= @trip.exit %></p></li>
            <li class="padding"><p><strong>Price per night: </strong><%= currency(@trip.price_per_night) %></p></li>
            <li class="padding"><p><strong>Transport price:</strong> <%= currency(@trip.transport_price) %></p></li>
            <li class="padding"><p><strong>Spaceship:</strong> <%= @trip.spaceship %></p></li>
            <li class="padding"><p><strong>Comment from agency: "</strong><%= @trip.description %><strong class="violet">"</strong></p></li>
            <li class="padding mb-5"><p><strong>Chance of survival: </strong> <%= @trip.survival %> %</p></li>
          </div>
        </div>
    </div>

    <div class="cards">
      <div class="card-trip-show-2">
          <br>
            <li class="text-center"><h3><strong>Recap of your booking</strong> </h3></li>
            <br>
            <li><p><strong class="violet">Start Date: </strong> <%= @booking.start_date %></p></li>
            <li><p><strong class="violet">End Date: </strong><%= @booking.end_date %></p></li>
            <li><p><strong class="violet">Total price:</strong> <%= currency(@booking.price) %></p></li>
            <br>
            <br>
            <li class="text-center booking-button"><p><%= link_to "Cancel your booking", booking_path(@booking), method: :delete, class:"button-dashboard-2", data: { confirm: "Are you sure?" } %> </p></li>
            <li class="text-center booking-button"><p><%= link_to "Modify your booking", edit_booking_path(@booking), class:"button-dashboard-2" %> </p></li>
            <% if @booking.paid == false %>
              <li class="text-center booking-button"><p><%= link_to "Pay to confirm your booking", booking_payment_path(@booking), class:"button-dashboard-2" %> </p></li>
            <% end %>
          </div>
        </div>
    </div>

  </div>
</div>
