<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="d-flex align-items-center">
    <a class="navbar-brand" href="#">
    <%= image_tag "stellar_logo.png", alt: "Stellar logo", width: 200 %>
  </a>
    <a class="nav-link" href="#">Stellar</a>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <li><%= link_to "Home", root_path, class:"nav-link" %></li>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <li><%= link_to "My trips", bookings_path, class:"nav-link" %></li>
        </li>
      <% end  %>
      <li class="nav-item dropdown">
        <% if current_user %>
          <img class="avatar-large dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <% else %>
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </button>
        <% end  %>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
          <% if current_user %>
            <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>
