<div class="container">
  <ul>
    <div class="title-index">
      <h3><b>Experiences</h3></b>
    </div>

    <div class="grid-index">
      <% @bookings.each do |booking| %>
        <div class="card-index card-dashboard">

          <div class="icone-border-delete">
            <% if policy(booking).destroy? %>
              <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt icone-delete"></i>
              <% end %>
            <% end %>
          </div>

          <%= link_to booking_path(booking.id) do %>
              <% if booking.trip.photo.attached? == false %>
                <%= image_tag("https://images.theconversation.com/files/392339/original/file-20210329-17-1vm95zi.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop", class: "img-card img-dashboard") %>
                <% else %>
                <%= image_tag(cl_image_path trip.photo.key, height: 200, width: 430, class: "img-card img-dashboard") %>
              <% end %>
            <% end %>
          <div class="card-infos">
            <li><h3><%= booking.name %></h3></li>

            <div class="icone-edit">
              <%= link_to edit_booking_path(booking) do %>
                <i class="far fa-edit"></i>
              <% end %>
            </div>
            <li><p>Start date : <%= booking.start_date%></p></li>
            <li><p>End date : <%= booking.end_date %></p></li>
            <li><p>Price: <%= currency(booking.price) %></p></li>
            <li><p>Payment: <%= currency(booking.paid_price) %></p></li>
            <br>
            <div class="text-center">
              <%= link_to "See more", booking_path(booking.id), class: "btn-primary-small" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </ul>

  <ul>
    <div class="title">
      <h2 class="text-center">All trips you created</h2>
    </div>



    <div class="cards">
      <% @trips.each do |trip| %>
        <div class="card-dashboard-2">
          <%= link_to trip_path(trip.id) do %>
            <% if trip.photo.attached? == false %>
              <%= image_tag("https://images.theconversation.com/files/392339/original/file-20210329-17-1vm95zi.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop", class: "img-card") %>
            <% else %>
              <%= image_tag(cl_image_path trip.photo.key, height: 200, width: 430, class: "img-card") %>
            <% end %>
          <% end %>
          <div class="card-trip-infos">
            <li><h3><strong class="violet" >Planet:</strong> <%= trip.planet %></h3></li>
            <li><h6><strong class="violet">Gravity: </strong> <%= trip.gravity%></h6></li>
            <li><p><strong>Extra-vehicular activities: </strong><%= trip.exit %></p></li>
            <li><p><strong>Price per night: </strong><%= currency(trip.price_per_night) %></p></li>
            <li><p><strong>Transport price:</strong> <%= currency(trip.transport_price) %></p></li>
            <li><p><strong>Spaceship:</strong> <%= trip.spaceship %></p></li>
            <li><p><strong>"</strong><%= trip.description %><strong>"</strong></p></li>
            <br>
            <li><p><%= link_to "See more", trip_path(trip), class: "button-perso-2" %></p></li>
          </div>

          <div class="d-flex flex-column text-center">
          <br>
            <%= link_to "Delete this trip", trip_path(trip), method: :delete, class:"button-perso-dashboard text-center", data: { confirm: "Are you sure?" } %>
            <%= link_to "Modify this trip", edit_trip_path(trip), class:"button-perso-dashboard text-center" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="title">
      <h2 class="text-center"> <%= link_to "Create a trip", new_trip_path, class:"button-dashboard-2" %></h2>
    </div>
  </ul>
</div>
