<div class="banner flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path('banner.jpg') %>)">
    <h1 class="text-center">
    <span data-controller="typed-js"></span>
    </h1>
    <%= render "shared/search_bar" %>
</div>


<div class="container">
  <ul>
    <div class="title">
      <h2 class="text-center"> Discover great experiences ! </h2>
    </div>

    <div class="cards">
      <% @trips_good.each do |trip| %>
        <div class="card-trip">


                <div>
                <%= link_to trip_path(trip.id) do %>
                      <% if trip.photo.attached? == false %>
                        <%= image_tag("https://images.theconversation.com/files/392339/original/file-20210329-17-1vm95zi.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop", class: "img-card") %>
                        <% else %>
                        <%= image_tag(cl_image_path trip.photo.key, height: 200, width: 430, class: "img-card") %>
                        <% end %>
                    <% end %>
                </div>

                <div>
                  <div class="card-trip-infos">

                        <li><h3><strong>Planet:</strong> <%= trip.planet %></h3></li>
                        <li><h6><strong>Gravity: </strong> <%= trip.gravity%></h6></li>
                        <li><p><strong>Trip infos: </strong> <%= trip.description%></p></li>
                </div>




        </div>
                        <div class="text-center">
                          <%= link_to "See more", new_trip_booking_path(trip), class: "button-perso-3"%>
                        </div>
      </div>






      <% end %>
    </div>
  </ul>


 <br>
 <br>


  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= image_path('space_x_rockets.png') %>" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('ariane_rockets.jpg') %>" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('soyuz_rocket.jpg') %>" class="d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
